studenonboardLA.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "StudentOnboard",
            "type":  "string"
        },
        "whtoken":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for whtoken"
            }
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "whtoken":  {
                            "defaultValue":  "[parameters('whtoken')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "manual":  {
                            "type":  "Request",
                            "kind":  "Http",
                            "inputs":  {
                                "schema":  {
                                    "properties":  {
                                        "AccessPackage":  {
                                            "properties":  {
                                                "Description":  {
                                                    "description":  "AccessPackage-Description",
                                                    "type":  "string"
                                                },
                                                "DisplayName":  {
                                                    "description":  "AccessPackage-DisplayName",
                                                    "type":  "string"
                                                },
                                                "Id":  {
                                                    "description":  "AccessPackage-Id",
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "AccessPackageAssignmentRequestId":  {
                                            "type":  "string"
                                        },
                                        "AccessPackageCatalog":  {
                                            "properties":  {
                                                "Description":  {
                                                    "description":  "AccessPackageCatalog-Description",
                                                    "type":  "string"
                                                },
                                                "DisplayName":  {
                                                    "description":  "AccessPackageCatalog-DisplayName",
                                                    "type":  "string"
                                                },
                                                "Id":  {
                                                    "description":  "AccessPackageCatalog-Id",
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "Answers":  {
                                            "type":  "array"
                                        },
                                        "Assignment":  {
                                            "properties":  {
                                                "AssignmentPolicy":  {
                                                    "properties":  {
                                                        "DisplayName":  {
                                                            "description":  "AssignmentPolicy-DisplayName",
                                                            "type":  "string"
                                                        },
                                                        "Id":  {
                                                            "description":  "AssignmentPolicy-Id",
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "Id":  {
                                                    "description":  "Assignment-Id",
                                                    "type":  "string"
                                                },
                                                "State":  {
                                                    "description":  "Assignment-State",
                                                    "type":  "string"
                                                },
                                                "Status":  {
                                                    "description":  "Assignment-Status",
                                                    "type":  "string"
                                                },
                                                "Target":  {
                                                    "properties":  {
                                                        "ConnectedOrganization":  {
                                                            "properties":  {
                                                                "Description":  {
                                                                    "description":  "Assignment-Target-ConnectedOrganization-Description",
                                                                    "type":  "string"
                                                                },
                                                                "DisplayName":  {
                                                                    "description":  "Assignment-Target-ConnectedOrganization-DisplayName",
                                                                    "type":  "string"
                                                                },
                                                                "Id":  {
                                                                    "description":  "Assignment-Target-ConnectedOrganization-Id",
                                                                    "type":  "string"
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "DisplayName":  {
                                                            "description":  "Assignment-Target-DisplayName",
                                                            "type":  "string"
                                                        },
                                                        "Id":  {
                                                            "description":  "Assignment-Target-Id",
                                                            "type":  "string"
                                                        },
                                                        "ObjectId":  {
                                                            "description":  "Assignment-Target-ObjectId",
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "CallbackConfiguration":  {
                                            "properties":  {
                                                "DurationBeforeTimeout":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "CallbackUriPath":  {
                                            "type":  "string"
                                        },
                                        "CustomExtensionStageInstanceId":  {
                                            "type":  "string"
                                        },
                                        "RequestType":  {
                                            "type":  "string"
                                        },
                                        "Requestor":  {
                                            "properties":  {
                                                "DisplayName":  {
                                                    "description":  "Requestor-DisplayName",
                                                    "type":  "string"
                                                },
                                                "Id":  {
                                                    "description":  "Requestor-Id",
                                                    "type":  "string"
                                                },
                                                "ObjectId":  {
                                                    "description":  "Requestor-ObjectId",
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "Stage":  {
                                            "type":  "string"
                                        },
                                        "State":  {
                                            "type":  "string"
                                        },
                                        "Status":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            },
                            "operationOptions":  "IncludeAuthorizationHeadersInOutputs"
                        }
                    },
                    "actions":  {
                        "Condition":  {
                            "actions":  {
                                "Condition_2":  {
                                    "actions":  {
                                        "Delay":  {
                                            "runAfter":  {
                                            },
                                            "type":  "Wait",
                                            "inputs":  {
                                                "interval":  {
                                                    "count":  30,
                                                    "unit":  "Second"
                                                }
                                            }
                                        },
                                        "For_each":  {
                                            "foreach":  "@body('Parse_JSON_2')?['value']",
                                            "actions":  {
                                                "Set_variable":  {
                                                    "runAfter":  {
                                                    },
                                                    "type":  "SetVariable",
                                                    "inputs":  {
                                                        "name":  "Id",
                                                        "value":  "@items('For_each')?['id']"
                                                    }
                                                }
                                            },
                                            "runAfter":  {
                                                "Parse_JSON_2":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Foreach"
                                        },
                                        "GetUser":  {
                                            "runAfter":  {
                                                "Send_an_email_(V2)":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Http",
                                            "inputs":  {
                                                "authentication":  {
                                                    "audience":  "https://graph.microsoft.com",
                                                    "type":  "ManagedServiceIdentity"
                                                },
                                                "method":  "GET",
                                                "uri":  "https://graph.microsoft.com/v1.0/users?$filter=mail eq '@{variables('Mail')}'"
                                            }
                                        },
                                        "Parse_JSON_2":  {
                                            "runAfter":  {
                                                "GetUser":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ParseJson",
                                            "inputs":  {
                                                "content":  "@body('GetUser')",
                                                "schema":  {
                                                    "properties":  {
                                                        "@@odata.context":  {
                                                            "type":  "string"
                                                        },
                                                        "value":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "businessPhones":  {
                                                                        "type":  "array"
                                                                    },
                                                                    "displayName":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "givenName":  {
                                                                    },
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "jobTitle":  {
                                                                    },
                                                                    "mail":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "mobilePhone":  {
                                                                    },
                                                                    "officeLocation":  {
                                                                    },
                                                                    "preferredLanguage":  {
                                                                    },
                                                                    "surname":  {
                                                                    },
                                                                    "userPrincipalName":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "businessPhones",
                                                                    "displayName",
                                                                    "givenName",
                                                                    "jobTitle",
                                                                    "mail",
                                                                    "mobilePhone",
                                                                    "officeLocation",
                                                                    "preferredLanguage",
                                                                    "surname",
                                                                    "userPrincipalName",
                                                                    "id"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            }
                                        },
                                        "Send_an_email_(V2)":  {
                                            "runAfter":  {
                                                "Delay":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "Body":  "\u003cp\u003ePlease allow up to 10minutes from approval email. Log into the tenant with your guest account and you will see a resource group labeled 'Student00X'. That Resource Group will grant you full ownership on that object to create all student objects within. Please login, setup MFA on your phone and wait for your instructor. Please navigate to https://portal.azure.com/#@cyberloriangcc.onmicrosoft.com and find your resource group.\u003c/p\u003e",
                                                    "Importance":  "Normal",
                                                    "Subject":  "Welcome Sentinel Student",
                                                    "To":  "@variables('Mail')"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@triggerBody()?['Stage']",
                                                    "assignmentRequestApproved"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "HTTP":  {
                                    "runAfter":  {
                                        "Condition_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "body":  "@variables('Id')",
                                        "method":  "POST",
                                        "uri":  "https://e8a38f53-f61e-4f5f-8d4c-6644d96e0fc3.webhook.eus.azure-automation.net/webhooks?token=@{parameters('whtoken')}"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Initialize_variable_2":  [
                                    "Succeeded"
                                ]
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@{triggerBody()?['AccessPackageCatalog']?['Id']}",
                                            "c24f2683-20f8-44c8-af19-d4dc8531b23f"
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Mail",
                                        "type":  "string",
                                        "value":  "@body('Parse_JSON')?['Email']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Id",
                                        "type":  "string"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()?['Requestor']",
                                "schema":  {
                                    "properties":  {
                                        "AltSecId":  {
                                        },
                                        "CleanupScheduled":  {
                                        },
                                        "ConnectedOrganization":  {
                                        },
                                        "ConnectedOrganizationId":  {
                                        },
                                        "CreatedDateTime":  {
                                        },
                                        "DisplayName":  {
                                            "type":  "string"
                                        },
                                        "Email":  {
                                            "type":  "string"
                                        },
                                        "Id":  {
                                            "type":  "string"
                                        },
                                        "ObjectId":  {
                                        },
                                        "OnPremisesSecurityIdentifier":  {
                                        },
                                        "PrincipalName":  {
                                            "type":  "string"
                                        },
                                        "SubjectLifecycle":  {
                                            "type":  "string"
                                        },
                                        "SubjectType":  {
                                            "type":  "string"
                                        },
                                        "Tenant":  {
                                        },
                                        "Type":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                },
                "accessControl":  {
                    "triggers":  {
                        "openAuthenticationPolicies":  {
                            "policies":  {
                                "AzureADEntitlementManagementPOPAuthPolicy":  {
                                    "type":  "AADPOP",
                                    "claims":  [
                                        {
                                            "name":  "iss",
                                            "value":  "https://sts.windows.net/231fba77-bebd-4bd8-ba2e-e01c6f72c37d/"
                                        },
                                        {
                                            "name":  "appid",
                                            "value":  "810dcf14-1858-4bf2-8134-4c369fa3235b"
                                        },
                                        {
                                            "name":  "m",
                                            "value":  "POST"
                                        },
                                        {
                                            "name":  "u",
                                            "value":  "management.azure.com"
                                        },
                                        {
                                            "name":  "p",
                                            "value":  "/subscriptions/66e0ef4c-290f-4c38-8606-badbbbcd1765/resourceGroups/Governance/providers/Microsoft.Logic/workflows/StudentOnboard"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Purpose":  "Azure AD Entitlement Management",
                "hidden-SentinelTemplateName":  "StudentOnboard",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
